* {
    box-sizing: border-box;
}
body{
    background-image: url(../Images/memphis-mini.png);
    margin: 0;
}
#pageheader{
    width: 100%;
    height: 87px;
    background-color: #ffffff;
    border-bottom: solid 2px #cccccc;
    margin-bottom: 20px;
}
#myname{
    position: relative;
    display: table-cell;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    width: 300px;
    height: 85px;
    text-align: center;
    vertical-align: middle;
    left: 200px;
}
#links{
    position: relative;
    float: right;
    top: -47px;
    right: 185px;
    color: #cccccc;
}
.link{
    left: 0%;
    top: 0px;
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}
.link:hover{
    text-decoration: underline;
}
#main {
    position: relative;
    background-color: #ffffff;
    width: 960px;
    border: solid 1px #dddddd;
    left: 200px;
    margin-bottom: 20px;
    min-height: calc(100vh - 60px);
}
.bodyheader{
    position: relative;
    border-bottom: solid 3px #dddddd;
    padding: 20px;
    padding-left: 0px;
    margin: 10px;
    margin-left: 35px;
    margin-right: 35px;
    color: #4aaaa5;
}
#profilepic{
    float:left;
    width:200px;
    height:150px;
    margin-right: 30px;
    margin-left: 35px;
    margin-top: 15px;
}
.aboutme{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 15px;
    line-height: 30px;
    margin-left: 35px;
    margin-right: 40px;
}
.footer{
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 60px;
}
#form{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.portfoliolinks{
    position: relative;
    display: inline-block;
}
.row {
    margin: 8px;
} 
.row,
.row > .column {
    padding: 8px;
}
.column {
    float: left;
    width: 35%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.portfoliopics{
    height:200px;
    width:255px;
    float: left;
}
.span1{
    position: absolute;
    bottom: 5%;
    left: 50%;
    background-color: #4aaaa5;
    padding: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    margin-top: -1em;
    margin-left: -50%;
    width: 100%;
    height: 50px;
    color: #ffffff;
    text-align: center;
}
#span2{
    position: absolute;
    left: 24px;
    top: 500px;
    background-color: #4aaaa5;
    padding: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    height: 50px;
    width: 255px;
    color: #ffffff;
    text-align: center;
}
#span3{
    position: absolute;
    top: 500px;
    left: 348px;
    background-color: #4aaaa5;
    padding: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    height: 50px;
    width: 255px;
    color: #ffffff;
    text-align: center;
}
#span4{
    position: absolute;
    left: 24px;
    bottom: 35px;
    background-color: #4aaaa5;
    padding: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    height: 50px;
    width: 255px;
    color: #ffffff;
    text-align: center;
}
#formstyle{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 30px;
    margin-left: 35px;
    margin-right: 35px;
    
}
.input1{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
}
#textarea{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}
#button{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}